.header-nav {
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}

.header-nav__wrapper {
  display: flex;
  width: 1160px;

  padding-bottom: 15px;
  padding-top: 15px;

  align-items: center;

  margin: 0 auto;
}

.header-nav__pages-list {
  width: 38.4%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 0;
  margin-bottom: 0;
  margin-left: 24.5%;

  color: $dark-shade-50;

}

.header-nav__pages-item:nth-of-type(2) .header-nav__pages-link,
.header-nav__pages-item:nth-of-type(5) .header-nav__pages-link {
  padding-right: 24px;
  position: relative;

  &:after,
  &:before {
    content: '';
    position: absolute;

    width: 8px;
    height: 1.8px;

    top: 50%;
    margin-top: 1px;

    background-color: $dark-shade-50;
  }

  &:before {
    right: 12px;
    transform: rotate(45deg);
    background-color: transparent;
    background-image: linear-gradient(to right, $dark-shade-50 75%, transparent 75%, transparent 100%);
  }

  &:after {
    right: 8px;
    transform: rotate(-45deg);
  }
}

.header-nav__pages-link {
  transition: ease-in-out 0.07s;

  &_active {
    color: $dark-shade-75;
    font-weight: 700;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header-nav__user-list {
  display: flex;

  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.header-nav__user-item:not(:last-of-type) {
  margin-right: 20px;
}